.Game {
  background: var(--primary);
  display: flex;
  min-height: 100vh;
}

.game-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question-container {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 3px 10px -1px rgb(1, 17, 29, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  padding: 15px 30px;
  position: relative;
  width: 70%;
}

.counter {
  align-items: center;
  background-color: var(--white);
  border: 3px var(--primary-no-gradient) solid;
  border-radius: 50%;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-left: calc(50% - 30px);
  outline: 5px var(--white) solid;
  position: absolute;
  top: -50px;
  transform: translate(-50%);
  width: 50px;
}

.category-title {
  font-size: 0.8em;
  margin: 15px 0 0;
  text-align: center;
}

.category-text {
  margin-left: 5px;
}

.question-text {
  font-weight: 800;
  text-align: center;
}

.bottom-game {
  align-items: center;
  background-color: var(--light);
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.answers-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 80%;
}

.answers-container button {
  background-color: var(--white);
  border: 3px solid var(--white);
  border-radius: 10px;
  box-shadow: 0 3px 5px -3px rgb(1, 17, 29, 0.5);
  color: var(--black);
  font-size: 1em;
  font-weight: 500;
  height: 50px;
  margin-bottom: 20px;
}

.answers-container button:enabled {
  cursor: pointer;
}

.answers-container .correct__answer {
  border: 3px solid rgb(6, 240, 15);
}

.answers-container .wrong__answer {
  border: 3px solid red;
}

.next-button-container {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40%;
}

.next-button {
  background: var(--primary);
  border: none;
  border-radius: 20px;
  box-shadow: 0 3px 5px -3px rgb(1, 17, 29, 0.5);
  color: var(--white);
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 10px;
  width: 100%;
}

@media only screen and ( min-width : 864px ) {

  .question-container {
    height: 50%;
    position: relative;
    width: 70%;
  }

  .counter {
    font-size: 1.3em;
    height: 70px;
    width: 70px;
  }

  .category-title {
    font-size: 1em;
    margin-top: 30px;
  }

  .question-text {
    font-size: 1.4em;
    margin: 0;
    padding: 20px 100px;
  }

  .answers-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .bottom-game {
    justify-content: center;
  }

  .answers-container button {
    align-items: center;
    display: flex;
    font-size: 1.1em;
    font-weight: 600;
    height: 70px;
    justify-content: center;
    margin-bottom: 40px;
    padding: 20px;
    width: 40%;
  }

  .next-button-container {
    height: 50px;
    padding-bottom: 20px;
    width: 50%;
  }

  .next-button {
    align-items: center;
    display: flex;
    font-size: 1em;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    width: 30%;
  }
}
