header {
  align-items: center;
  color: var(--white);
  display: flex;
  height: 100px;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 90%;
}

.header-picture {
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.header-user {
  align-items: center;
  display: flex;
}

.header-name {
  font-weight: 800;
  margin-left: 10px;
}

.header-score-container {
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 20px;
  text-align: center;
  width: 100px;
}

.header-score {
  margin-left: 5px;
}

@media only screen and ( min-width : 764px ) {

  header {
    margin-bottom: 0;
    width: 75%;
  }
}
