@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Manrope:wght@200;300;400;500;600;700;800&display=swap') ;

body {
  color: var(--black);
  font-family: Manrope , sans-serif;
}

:root {

  --primary: linear-gradient(117deg, rgba(255, 85, 45, 1) 0%, rgba(241, 149, 27, 1) 100%);

  --primary-no-gradient: rgba(255, 85, 45, 1);

  --secondary: hsl(239, 59%, 22%);

  --tertiary: rgba(241, 149, 27, 1);

  --white: white;

  --light: hsl(0, 0%, 95%);

  --black: rgb(24, 23, 23);
}
