body {
  background: var(--primary);
}

.Logo {
  margin-bottom: 30px;
}

.logo-text {
  font-size: 42px;
}

.Login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.Login form {
  align-items: center;
  background-color: var(--white);
  border-radius: 50px;
  box-shadow: 0 3px 10px -1px rgb(1, 17, 29, 0.5);
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: center;
  padding: 30px 42px 40px 42px;
  width: 196px;
}

.Login input {
  border-radius: 50px;
  font-family: 'Manrope' , sans-serif;
  font-size: 16px;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 20px;
  width: 156px;
}

.Login div {
  width: 100%;
}

.Login div button {
  background-color: var(--secondary);
  border-radius: 50px;
  box-shadow: 0 3px 10px -1px rgb(1, 17, 29, 0.5);
  color: var(--white);
  font-family: 'Manrope' , sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  margin-top: 10px;
  width: 100%;
}

.Login button:disabled {
  opacity: 20%;
}

.Login button:enabled {
  cursor: pointer;
}

@media only screen and ( min-width : 864px ) {
  .logo-text {
    font-size: 52px;
  }
  
  .Login form {
    padding: 0 42px 20px 42px;
    width: 500px;
  }

  .Login input {
    width: 80%;
  }

  .Login div {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .Login div button {
    width: 220px;
  }
}
