body {
  background: var(--primary);
}

.Login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.Login .logo-text {
  font-size: 2.5em;
}

.Login form {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 3px 10px -1px rgb(1, 17, 29, 0.5);
  display: flex;
  flex-direction: column;
  height: 28em;
  justify-content: center;
  width: 80%;
}

.Login div input {
  border-radius: 10px;
  font-size: 1em;
  height: 2.8em;
  margin-bottom: 0.6em;
  padding: 0 1em;
  width: 68%;
}

.Login .input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
  width: 100%;
}

.Login .btn-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.Login div button {
  background-color: var(--secondary);
  border-radius: 10px;
  box-shadow: 0 3px 10px -1px rgb(1, 17, 29, 0.5);
  color: var(--white);
  font-size: 1em;
  font-weight: 700;
  height: 3.2em;
  margin-top: 0.6em;
  width: 80%;
}

.Login button:disabled {
  opacity: 20%;
}

.Login button:enabled {
  cursor: pointer;
}

@media only screen and ( min-width : 864px ) {

  .Login .logo-text {
    font-size: 3.5em;
  }

  .Login form {
    height: 26em;
    width: 42em;
  }

  .Login input {
    width: 80%;
  }

  .Login .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
    width: 74%;
  }

  .Login div button {
    width: 48%;
  }
}
