body {
  background: var(--primary);
}

.Login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.Login form {
  align-items: center;
  border-radius: 50px;
  height: 350px;
  width: 196px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 42px 40px 42px;
  background-color: var(--white);
}

.Login form h1 {
  font-family: 'Manrope' , sans-serif;
  font-size: 40px;
  font-weight: 1000;
  animation: color-animation 4s linear infinite;
}

.title-trivia-animated {
  --color-1: var(--primary-no-gradient);
  --color-2: var(--secondary);
  --color-3: var(--tertiary);
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

.Login input {
  font-family: 'Manrope' , sans-serif;
  font-size: 16px;
  height: 40px;
  width: 156px;
  margin-bottom: 10px;
  padding: 0 20px;
  border-radius: 50px;
}

.Login div {
  width: 100%;
}

.Login div button {
  font-family: 'Manrope' , sans-serif;
  font-size: 16px;
  height: 50px;
  width: 100%;
  margin-top: 10px;
  border-radius: 50px;
  color: var(--white);
  background-color: var(--secondary);
}

.Login button:disabled {
  opacity: 20%;
}

.Login button:enabled {
  cursor: pointer;
}

@media only screen and ( min-width : 864px ) {
  .Login form {
    width: 500px;
  }

  .Login input {
    width: 80%;
  }

  .Login div {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .Login div button {
    width: 220px;
  }
}
